footer
  .footer.container
    .institutional
      .logo.gob
        a(href='https://www.argentina.gob.ar/')
          img(src='/boot/argentinagob.svg')
      p.text-muted.small
        | Los contenidos de Argentina.gob.ar están licenciados bajo <a href='https://creativecommons.org/licenses/by/2.5/ar/'>Creative Commons Reconocimiento 2.5 Argentina License
    nav.menu
      - if (config.organizationEmail)
        a(href='mailto:' + config.organizationEmail) Contacto
      - if (config.termsOfService)
        a(href='/help/terms-of-service')= t('help.tos.title')
      - if (config.privacyPolicy)
        a(href='/help/privacy-policy')= t('help.pp.title')
      - if (config.aboutUs)
        a(href='/help/about-us')= t('help.about-us.title')
      - if (config.frequentlyAskedQuestions)
        a(href='/help/faq')= t('help.faq.title')
      - if (config.glossary)
        a(href='/help/glossary')= t('help.glossary.title')
