footer
  .footer.container
    .institutional
      .logo.gob
        a(href='https://www.argentina.gob.ar/')
          img(src='/boot/argentinagob.svg')
      p.text-muted.small
        | Los contenidos de Argentina.gob.ar están licenciados bajo <a href='https://creativecommons.org/licenses/by/2.5/ar/'>Creative Commons Reconocimiento 2.5 Argentina License
    nav.menu
      - if (config.aboutUs)
        a(href='/ayuda/acerca')= t('help.about-us.title')
      - if (config.frequentlyAskedQuestions)
        a(href='/ayuda/como-funciona')= t('help.faq.title')
      - if (config.glossary)
        a(href='/ayuda/glossary')= t('help.glossary.title')
      - if (config.aboutUs)
        a(href='/ayuda/acerca') Contacto
    nav.menu
      - if (config.termsOfService)
        a(href='/ayuda/terminos-y-condiciones')= t('help.tos.title')
      - if (config.privacyPolicy)
        a(href='/ayuda/privacidad')= t('help.pp.title')
