.topic-container
  .topic-card
    - if (topic.coverUrl)
      .pic(style='background-image:url(' + topic.coverUrl + ')')
    //-
      - if (topic.user)
        .author
          .author-img(style='background-image:url(' + topic.user.avatar + ')')
          div
            p Autor:&nbsp;
              span=topic.user.displayName
            - if(topic.user.party)
              p Bloque:&nbsp;
                span=topic.user.party
    a.title(href=topic.url)=topic.mediaTitle
    p.participando
      strong=topic.participants.length
      |  ciudadanos participando
  a.btn.btn-primary.btn-lg.topic-btn(href=topic.url) Ver este compromiso