- var closed = topic.closed
- var logged = user.logged()
.inner-container
  - var learnMore = config.learnMoreUrl
  - if (learnMore)
    div.alert.alert-warning.alert-dismissable.system-alert
      button(type="button", class="close", data-dismiss="alert", aria-hidden="true")
      span #{t('proposal-article.article.alert.text')}&nbsp;&nbsp;
      a.alert-link(href=learnMore, target="_blank") #{t('proposal-article.article.alert.learn-more')}

  - if ( logged && !user.updatedAt )
    div.alert.alert-info.alert-dismissable.system-alert
      button(type="button", class="close", data-dismiss="alert", aria-hidden="true")
      i.fa.fa-lg.fa-info-circle
      | &emsp;
      span!= t('settings.profile.alert.message',{subPath: config.subPath})

  article.proposal.commentable-container
    //- .meta-information
    //-   a.meta-item.meta-location(href="#") Buenos Aires, Argentina
    //-   small.meta-item.meta-timeago 10 days left

    .entry-tag(style="border-color: #{topic.tag.color}")
      .entry-icon
        i.fa(class=tagImages[topic.tag.image].url, style="color: #{topic.tag.color}")
      span(style="color: #{topic.tag.color}")= topic.tag.name

    - if (topic.closingAt)
      .meta-information
        p
          i.glyphicon.glyphicon-time
          span.time-ago-label= (closed ? t('common.closed') : t('common.close')) + " "
          span.meta-item.meta-timeago.ago(data-time=topic.closingAt.toString())

    h1=topic.mediaTitle
    - if (topic.author)
      h2.author=t('admin-topics-form.label.author') + ': '
        - if (topic.authorUrl)
          a(href=topic.authorUrl, target='_blank')= topic.author
        - else
          = topic.author
    //-
      - if (topic.user)
        h2.author=t('admin-topics-form.label.author') + ': ' + topic.user.displayName
    - if(topic.keywords)
      ul.keywords
        - each keyword in topic.keywords
          li='#'+keyword
    h3=topic.title
    .entry-content
      .clauses
        each clause, i in clauses
          - var classes = ['clause']
          - if (clause.commentable) classes.push('commentable-section')
          - if (clause.isSectionTitle) classes.push('clause-section-title')
          - if (clause.isSectionText) classes.push('clause-section-text', 'hide')
          != toHTML(clause, {className: classes, iframeResponsive: true, dataset: clause.dataset})

    //- Article source
    - if (topic.source)
      .source
        p
          span.glyphicon.glyphicon-link
          a(target="_blank", href="#{topic.source}")
           | #{t('proposal-article.view-original-text')}

    //- Article links
    - if (topic.links && topic.links.length)
      .links
        h5=t('common.more-information')
        - each link in topic.links
          p
            span.glyphicon.glyphicon-share
            a(target="_blank", href=link.url)=link.text

    //- Article participants
    .participants(class=topic.votable ? '' : 'hide')
      //- Rendered by participants view

    //- Article share links
    - var text = config.tweetText || topic.mediaTitle
    .share-links
      a(target="_blank", href="http://www.facebook.com/sharer.php?u=#{baseUrl}/topic/#{topic.id}").flaticon.social.facebook
      a(target="_blank", href="http://twitter.com/share?text=#{text}&url=#{baseUrl}/topic/#{topic.id}").flaticon.social.twitter
