#help-container.container
  #help
    .sidebar-container
      ul.help-menu
        li.heading
          | &nbsp;
          //- = t('help.title')
        - if (config.frequentlyAskedQuestions)
          li: a(href="#{config.subPath}/ayuda/como-funciona")= t('help.faq.title')
        - if (config.aboutUs)
          li: a(href="#{config.subPath}/ayuda/acerca")= t('help.about-us.title')
        - if (config.termsOfService)
          li: a(href="#{config.subPath}/ayuda/terminos-y-condiciones")= t('help.tos.title')
        - if (config.privacyPolicy)
          li: a(href="#{config.subPath}/ayuda/privacidad")= t('help.pp.title')
        - if (config.glossary)
          li: a(href="#{config.subPath}/ayuda/glossary")= t('help.glossary.title')
        li: a(href="#{config.subPath}/ayuda/markdown")= t('help.markdown.title')
    .help-content
